<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="canon-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Canon
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="canon-link">
                <a href="" class="dropdown-item">Canon</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sony-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Sony
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sony-link">
                <a href="" class="dropdown-item">Sony</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nikon-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Nikon
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nikon-link>
                <a href="" class="dropdown-item">Nikon</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="fujifilm-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fujifilm
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fujifilm-link">
                <a href="" class="dropdown-item">Fujifilm</a>
            </div>
        </li>
    </ul>
</div>